[hidden] {
  display: none !important;
}

.screen {
  position: fixed;
  inset: 0;

  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

#main-menu>.buttons {
  flex-direction: column;
}
